
/* loading spinner */
.icon-loading {
  animation: spin-animation 0.5s infinite;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

/* loading ellipse dots */
.loading-ellipse {
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  margin: calc(0.975rem - 0.4rem) 0;
  border-radius: 5rem;
  background-color: #003c0a;
  color: #003c0a;
  animation: flash-dot 0.3s infinite linear alternate;
  animation-delay: 0.15s;
}
.loading-ellipse::before, .loading-ellipse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.loading-ellipse::before {
  left: -1.4rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 5rem;
  background-color: #003c0a;
  color: #003c0a;
  animation: flash-dot 0.3s infinite alternate;
  animation-delay: 0s;
}
.loading-ellipse::after {
  left: 1.4rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 5rem;
  background-color: #003c0a;
  color: #003c0a;
  animation: flash-dot 0.3s infinite alternate;
  animation-delay: 0.3s;
}

@keyframes flash-dot {
  0% {
    background-color: #003c0a;
  }
  40%, 100% {
    background-color: #113b1889;
  }
}