.btn-primary:focus-visible {
  border-color: black;
}

.btn-primary,
.btn-secondary,
.btn-icon,
.btn-sign-out {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0;
  mix-blend-mode: hard-light;
  border-radius: 50px;
  font-weight: 600;
  font-size: 1.3rem;
  box-shadow: none !important;
  border: solid 0.25rem transparent;
}

.btn-icon,
.btn-sign-out {
  justify-content: flex-start;
  gap: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.btn-primary,
.btn-icon {
  background-color: #b1e9a3;
  color: #003c0a;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-icon:hover,
.btn-icon:focus {
  background-color: #80d06c;
  border-color: transparent;
  color: #002e08;
}

.btn-primary:active,
.btn-icon:active {
  background-color: #6fc55a;
  border-color: #084913a0;
  color: #002e08;
}

.btn-sign-out {
  background-color: #f1987c;
  color: #650000;
}

.btn-sign-out:hover,
.btn-sign-out:focus {
  background-color: #ef7d69;
  border-color: transparent;
  color: #650000;
}

.btn-sign-out:active {
  background-color: #e66f5a;
  border-color: #5e0d06a0;
  color: #4e0000;
}

.btn-primary:disabled .btn-icon:disabled {
  background-color: #aec3a9;
  color: #002e0879;
}

.btn-transparent {
  border-width: 0;
  padding: 0;
}

.btn-transparent:hover {
  border-width: 0;
}

.btn-secondary {
  background-color: transparent;
  color: #001a39a6;
  border-width: 0.25rem;
  border-color: #001a39a6;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #0d325017;
  color: #001938d9;
  border-width: 0.25rem;
  border-color: #001938d9;
}

.btn-secondary:active {
  background-color: #22374f3d;
  color: #031b37cb;
  border-width: 0.25rem;
  border-color: #0f27406c;
}
