.card,
.poll-card {
  width: calc(50% + 0.5rem);
  height: min-content;
  background-color: #b2c6ed;
  mix-blend-mode: hard-light;
  border-radius: 1rem;
  border-color: transparent;
  border-width: 0.25rem;
  transition: 0.1s ease-in-out;
  flex: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 9rem;
}

.card:hover,
.card:focus {
  background-color: #bdcff1;
  border-color: #313948b6;
  cursor: pointer;
}

.card:active,
.poll-card:active {
  background-color: #b2c6ed;
  border-color: #131823ba;
  cursor: pointer;
}

.poll-card {
  height: 5rem;
  justify-content: center;
  border: 0.2rem solid rgba(0, 6, 13, 0.55);
}

.poll-card:hover,
.poll-card:focus {
  background-color: #bdcff1;
  border: 0.2rem solid rgba(0, 6, 13, 0.75);
  cursor: pointer;
}

.inactive {
  border: transparent;
  opacity: 80%;
}

.session-card {
  width: 25rem;
  height: 3.5rem;
  border: 0.2rem solid rgba(0, 6, 13, 0.55);
  border-radius: 2rem;
  justify-content: center;
  margin: 0;
}

.session-card:hover {
  border: 0.2rem solid rgba(0, 6, 13, 0.75);
  cursor: pointer;
}

.btn-vote {
  height: 6rem;
  width: 100%;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  background-color: #b2c6ed;
  color: rgba(0, 7, 15, 0.65);
  mix-blend-mode: hard-light;
  border-radius: 1.5rem;
  border-color: transparent;
  border-width: 0.3rem;
  font-size: 2.2rem;
  font-weight: 600;
  flex: 1;
}

.btn-vote:hover {
  border-color: rgba(6, 7, 9, 0.45);
  color: rgba(0, 7, 15, 0.65);
  font-weight: 700;
}

.btn-active,
.btn-vote:focus,
.btn-vote:visited {
  background-color: #d3dff6;
  border-color: #052041;
  color: #052041;
  font-weight: 700;
}

.btn-vote:active {
  background-color: #dfeaff;
  border-color: #05254cf6;
  color: #05254cf6;
}

/* ========================================================= */
/* ====================== Containers ======================= */
/* ========================================================= */

.card-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10rem);
  overflow-y: overlay;
  position: relative;
  padding-bottom: 5rem;
  top: 5rem;
}

.card-container,
.poll-card-container {
  display: flex;
  gap: 0.6rem;
  padding: 1rem 1.5rem;
  flex-wrap: wrap;
}

.card-container {
  max-width: 60rem;
}

.card-container > * {
  flex: 0 calc(50% - 0.3rem);
}

.poll-card-container {
  max-width: 50rem;
}

.poll-card-container > * {
  flex: 0 calc(25% - 0.45rem);
}

.vote-btn-container {
  transition: 0.1s ease-in-out;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

@media screen and (max-width: 35rem) {
  .card-container > * {
    flex: 0 100%;
  }

  .poll-card-container > * {
    flex: 0 calc((100% / 3) - 0.4rem);
  }

  .vote-btn-container {
    display: grid;
    width: 15rem;
  }

  .vote-button {
    width: 100%;
  }
}

@media screen and (max-width: 25rem) {
  .poll-card-container > * {
    flex: 0 calc(50% - 0.3rem);
  }
}

@media screen and (max-width: 15rem) {
  .poll-card-container > * {
    flex: 0 100%;
  }
}

.inactive {
  border-color: transparent;
  color: hsl(212, 100%, 3%, 0.65);
}
