.card,
.poll-card {
  width: calc(50% + 0.5rem);
  height: min-content;
  background-color: #b2c6ed;
  mix-blend-mode: hard-light;
  border-radius: 1rem;
  border: 0.2rem solid transparent;
  transition: 0.1s ease-in-out;
  overflow: hidden;
  flex: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 7rem;
  margin: 1rem;
  padding: 0;
}

.card:hover,
.card:focus {
  background-color: #bdcff1;
  border-color: #313948b6;
  cursor: pointer;
}

.card:active,
.poll-card:active {
  background-color: #b2c6ed;
  border-color: #131823ba;
  cursor: pointer;
}

.poll-card {
  height: 5rem;
  justify-content: center;
  padding: 0 1rem;
  border: 0.2rem solid rgba(0, 6, 13, 0.55);
}

.poll-card:hover,
.poll-card:focus {
  background-color: #bdcff1;
  border: 0.2rem solid rgba(0, 6, 13, 0.75);
  cursor: pointer;
}

.inactive {
  border-color: transparent;
  opacity: 90%;
}

.inactive:hover {
  border-color: rgba(0, 6, 13, 0.551) !important;
}

.session-card {
  width: 25rem;
  height: 3.5rem;
  border: 0.2rem solid rgba(0, 6, 13, 0.55);
  border-radius: 2rem;
  justify-content: center;
  margin: 0;
}

.session-card:hover {
  border: 0.2rem solid rgba(0, 6, 13, 0.75);
  cursor: pointer;
}

.btn-vote {
  height: 6rem;
  width: 100%;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
  background-color: #b2c6ed;
  color: rgba(0, 7, 15, 0.65);
  mix-blend-mode: hard-light;
  border-radius: 1.5rem;
  border-color: transparent;
  border-width: 0.3rem;
  font-size: 2.2rem;
  font-weight: 600;
  flex: 1;
}

.btn-vote:hover {
  border-color: rgba(6, 7, 9, 0.45);
  color: rgba(0, 7, 15, 0.65);
  font-weight: 700;
}

.btn-active,
.btn-vote:focus,
.btn-vote:visited {
  background-color: #d3dff6;
  border-color: #052041;
  color: #052041;
  font-weight: 700;
}

.btn-vote:active {
  background-color: #dfeaff;
  border-color: #05254cf6;
  color: #05254cf6;
}

/* ========================================================= */
/* ====================== Containers ======================= */
/* ========================================================= */

.card-wrapper,
.card-wrapper-student {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 14rem);
  overflow-y: overlay;
  position: relative;
  top: 9rem;
}

.card-wrapper-student {
  height: calc(100vh - 9rem);
}

.card-container,
.poll-card-container {
  display: flex;
  gap: 0.6rem;
  padding: 0.5rem 1.5rem;
  flex-wrap: wrap;
}

.poll-container {
  transition: all 0.1s ease-in-out;
  mix-blend-mode: hard-light;
}

.card-container {
  max-width: 60rem;
}

.card-container > * {
  flex: 0 calc(50% - 0.3rem);
}

.semester-container,
.session-container {
  transition: all 0.1s ease-in-out;
  max-height: fit-content;
  opacity: 100%;
}

.semester-container {
  mix-blend-mode: hard-light;
}

.session-container {
  opacity: 0;
}

.poll-card-container {
  max-width: 50rem;
  padding-bottom: 0;
}

.poll-card-container > * {
  flex: 0 calc(25% - 0.45rem);
}

.roster-item {
  display: flex;
  gap: 1rem;
  margin: 0 5rem;
  padding: 0.7rem 1.5rem;
  justify-content: space-between;
  border-bottom: 0.18rem solid #3d5d8457;
}

.vote-btn-container {
  transition: 0.1s ease-in-out;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
}

.vote-container,
.vote-container-student {
  opacity: 0;
  gap: 1.5rem;
  padding: 3rem;
  margin: 3rem;
  align-items: center;
  flex-direction: column;
  width: 100%;
  display: flex;
  transition: 0.1s ease-in-out;
}

.vote-container-student {
  padding: 0;
  margin: 1rem 3rem;
}

.session-waiting {
  gap: 1.5rem;
  padding: 3rem;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex: 1;
}

@media screen and (max-width: 35rem) {
  .card-container > * {
    flex: 0 100%;
  }

  .poll-card-container > * {
    flex: 0 calc((100% / 3) - 0.4rem);
  }

  .vote-btn-container {
    display: grid;
    width: 15rem;
  }

  .vote-button {
    width: 100%;
  }
}

@media screen and (max-width: 25rem) {
  .poll-card-container > * {
    flex: 0 calc(50% - 0.3rem);
  }
}

@media screen and (max-width: 15rem) {
  .poll-card-container > * {
    flex: 0 100%;
  }
}

.inactive {
  border-color: transparent;
  color: #212d39;
}
