.card-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  max-width: 60rem;
}
.card-container > * {
  flex: 0 calc(50% - 0.5rem);
}

.poll-card-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
  max-width: 60rem;
}

.poll-card-container > * {
  flex: 0 calc(25% - 0.75rem);
}

@media screen and (max-width: 30rem){
  .card-container > * {
      flex: 0 100% }

  .poll-card-container > * {
    flex: 0 calc(50% - 0.5rem);
  }
}