body {
  font-family: "Inter";
  font-style: normal;
  color: rgb(0, 6, 13);
  --body-bg: radial-gradient(105% 220% at 6% 50%, #b8e3fb 0%, #80a7e1 100%);
  --sign-in-bg: radial-gradient(
    118% 212% at 11% -10%,
    #aed6fb 0%,
    #6a86ce 100%
  );
  background: var(--body-bg);
  overflow-y: overlay;
  min-height: 70vh;
}

@-moz-document url-prefix() {
  body {
    height: 100vh;
  }
}

svg {
  flex-shrink: 0;
}

.fill-centered {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.overview-wrapper,
.roster-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5rem);
  position: relative;
  overflow: overlay;
  padding-bottom: 5rem;
  top: 5rem;
}

.roster-wrapper {
  height: calc(100vh - 12.6rem);
  top: 8rem;
}

.screen-alert-wrapper {
  top: 0;
  width: 100%;
  height: 100%;
  overflow: overlay;
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  background: var(--sign-in-bg);
  transition: 0.1s ease-in-out;
  pointer-events: none;
  opacity: 0;
  z-index: 5;
}

.screen-alert-text {
  display: grid;
  min-width: 20rem;
  margin-bottom: 0 !important;
  gap: 1rem;
}

.roster-header {
  display: flex;
  position: relative;
  top: 8rem;
  padding: 0.7rem 2.5rem;
  margin: 0 3rem;
  font-size: 2rem;
  font-weight: 600;
  color: #032256ba;
  justify-content: space-between;
  border-bottom: 0.2rem solid #0d28538a;
}

.roster-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  cursor: pointer;
  width: 10rem;
  gap: 0.5rem;
}

.sign-in-container {
  background: var(--sign-in-bg);
  font-weight: 500;
  font-size: 5rem;
  line-height: 116px;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  padding-bottom: 6rem;
  align-content: center;
  overflow: overlay;
  color: #052041;
  gap: 1.5rem;
  top: 0;
}

.sign-in-title {
  font-family: "Exo 2";
  font-style: italic;
  font-weight: 700;
  font-size: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14rem;
}

.card-title,
.card-subtitle,
.card-id {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.card-title {
  font-weight: 600;
  font-size: 1.2rem;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0.2rem;
}

.card-subtitle {
  font-weight: 500;
  font-size: 1.2rem;
  opacity: 75%;
  margin: 0 0.2rem;
  align-items: center;
}

.card-id {
  font-weight: 500;
  font-size: 1rem;
  opacity: 65%;
  margin: 0 0.2rem;
}

.divisor {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  min-width: 100%;
  margin: 0;
}

.divisor-blank {
  background-color: transparent;
  min-width: 100%;
  height: 2.2rem;
  margin: 0.4rem 0;
  border-radius: 1rem;
}

.error-banner {
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #600000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.floating-banner {
  bottom: 100%;
  display: flex;
  position: fixed;
  pointer-events: none;
  padding: 0.6rem 1.2rem;
  background-color: #a3c2ea;
  transition: 0.1s ease-in-out;
  box-shadow: 0 0.5rem 2rem rgba(5, 32, 65, 0.15);
  border-radius: 5rem;
  margin: 1rem 0;
}

.banner-wrapper {
  display: flex;
  justify-content: center;
  margin: -0.5rem 0;
  width: 100%;
  height: 0;
}

.loading {
  --mask: linear-gradient(to top, transparent, #ffffffbb, #ffffffbb);
  mask-image: var(--mask);
  -webkit-mask-image: var(--mask);
  mix-blend-mode: hard-light;
  pointer-events: none;
  max-height: 65vh;
  overflow: hidden;
}

.vote-btn {
  color: hsl(212, 100%, 3%, 0.75);
}

.form-control {
  color: #00060d !important;
}

.form-control::placeholder {
  font-weight: 600;
  color: #00060d;
  opacity: 55%;
}

.menu-overlay-title {
  font-family: "Exo 2";
  font-style: italic;
  font-weight: 700;
  font-size: 2.7rem;
  display: flex;
  height: inherit;
  align-items: center;
  margin-right: auto;
}

.poll-card-title {
  text-align: center;
}

.session-card-title {
  font-weight: 500;
  text-align: left;
}

.session-card-subtitle {
  display: flex;
  max-width: fit-content;
  padding-right: 0.1rem;
  justify-content: end;
  align-items: center;
  text-align: right;
  font-weight: 600;
  gap: 0.5rem;
}

.btn:hover .tooltip,
.input-error:hover .err-tooltip {
  opacity: 100%;
}

.tooltip-TR {
  top: 0;
  right: 0;
  border-radius: 1rem 1rem 1rem 0.2rem;
}

.tooltip-TL {
  top: 0;
  left: 0;
  border-radius: 1rem 1rem 0.2rem 1rem;
}

.tooltip-BL {
  bottom: 0;
  left: 0;
  border-radius: 1rem 0.2rem 1rem 1rem;
}

.tooltip-BR {
  bottom: 0;
  right: 0;
  border-radius: 0.2rem 1rem 1rem 1rem;
}

.tooltip,
.err-tooltip {
  z-index: 1;
  pointer-events: none;
  transition: 0.1s ease;
  background: #81332b;
  position: absolute;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-family: inherit;
  min-width: max-content;
}

.err-tooltip {
  left: calc(100% - 1.5rem);
  bottom: 30%;
  border-radius: 1rem 1rem 1rem 0.2rem;
  box-shadow: 0 0.5rem 1rem #05204128;
}

.large-title {
  font-weight: 500;
  font-size: 1.5rem;
  max-width: fit-content;
  min-width: fit-content;
}

.blank-state-msg {
  font-weight: 600;
  font-size: 1.4rem;
  white-space: normal;
  text-align: center;
  opacity: 50%;
  min-width: 15rem;
  width: 75%;
}

.window-alert {
  display: none;
  transition: 0.1s ease-in-out;
  width: 100%;
  height: 100%;
  background: var(--body-bg);
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
}

@media screen and (max-width: 30rem) {
  .screen-alert-wrapper {
    opacity: 100% !important;
    pointer-events: all !important;
  }
}

/* =============== Scroll Bar =============== */

/* width */
::-webkit-scrollbar {
  position: fixed;
  height: 100%;
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin: 0.15rem 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 0.28rem solid transparent;
  background-clip: padding-box;
  border-radius: 10rem;
  background-color: #0e215270;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 0.18rem solid transparent;
  background-clip: padding-box;
  border-radius: 10rem;
  background-color: #041233a8;
}

/* Firefox special case */
div {
  scrollbar-color: #0e215270 transparent;
  scrollbar-width: auto;
}
