body {
  font-family: "Inter";
  font-style: normal;
  color: rgb(0, 6, 13);
  background: radial-gradient(105% 220% at 6% 50%, #b8e3fb 0%, #80a7e1 100%);
  margin-top: 5rem;
}

.card-title,
.card-subtitle,
.card-id {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.card-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.card-subtitle {
  font-weight: 400;
  font-size: 1.1rem;
  opacity: 75%;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.card-id {
  font-weight: 400;
  font-size: 0.9rem;
  opacity: 65%;
  margin-top: 3.5rem;
}

.menu-overlay-title {
  font-weight: 500;
  font-size: 2rem;
}

.poll-card-title {
  text-align: center;
}

.session-card-title {
  font-weight: 500;
  text-align: left;
}

.session-card-subtitle {
  font-weight: 400;
  text-align: right;
}

.large-title {
  font-weight: 500;
  font-size: 1.5rem;
  max-width: fit-content;
  min-width: fit-content;
}
