body {
  font-family: "Inter";
  font-style: normal;
  color: rgb(0, 6, 13);
  background: radial-gradient(105% 220% at 6% 50%, #b8e3fb 0%, #80a7e1 100%);
}

@-moz-document url-prefix() {
  body {
    height: 100vh;
  }
}

.overview-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5rem);
  position: relative;
  overflow: auto;
  top: 5rem;
}

.sign-in-title {
  background: radial-gradient(
      118.53% 212.31% at 11.28% -9.85%,
      #aed6fb 0%,
      #6a86ce 100%
    )
    /* warning: gradient uses a rotation that
     is not supported by CSS and may not 
     behave as expected */;
  font-weight: 500;
  font-size: 5rem;
  line-height: 116px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8rem 0;
  padding-bottom: auto;
  top: 0;
  color: #052041;
}

.card-title,
.card-subtitle,
.card-id {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.card-title {
  font-weight: 600;
  font-size: 1.2rem;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 0.2rem;
}

.card-subtitle {
  font-weight: 500;
  font-size: 1.2rem;
  opacity: 75%;
  margin: 0 0.2rem;
  align-items: center;
}

.card-id {
  font-weight: 500;
  font-size: 1rem;
  opacity: 65%;
  margin: 0 0.2rem;
}

.divisor {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.divisor-blank {
  background-color: transparent;
  min-width: 100%;
  height: 2.2rem;
  margin: 0.4rem 0;
  border-radius: 1rem;
}

.error-banner {
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #600000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.vote-btn {
  color: hsl(212, 100%, 3%, 0.75);
}

.form-control {
  font-weight: 600;
  color: rgb(0, 6, 13) !important;
}

.form-control::placeholder {
  font-weight: 600;
  color: rgb(0, 6, 13) !important;
  opacity: 55%;
}

.menu-overlay-title {
  font-weight: 500;
  font-size: 2rem;
}

.poll-card-title {
  text-align: center;
}

.session-card-title {
  font-weight: 500;
  text-align: left;
}

.session-card-subtitle {
  font-weight: 500;
  text-align: right;
}

.large-title {
  font-weight: 500;
  font-size: 1.5rem;
  max-width: fit-content;
  min-width: fit-content;
}

.blank-state-msg {
  font-weight: 600;
  font-size: 1.3rem;
  white-space: normal;
  text-align: center;
  opacity: 50%;
  width: 75%;
}

/* =============== Scroll Bar =============== */

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin: 0.15rem 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 0.28rem solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #0e215270;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 0.18rem solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #041233a8;
}
