body {
  font-family: "Inter";
  font-style: normal;
}

.btn-primary {
  font-weight: 600;
  font-size: 1.2rem;
  color: #003c0a;
}

.card-title,
.card-subtitle,
.card-id {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.card-title {
  font-weight: 600;
  font-size: 1.1rem;
  color: #00060d;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.card-subtitle {
  font-weight: 400;
  font-size: 1.1rem;
  color: rgba(0, 6, 13, 0.75);
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.card-id {
  font-weight: 400;
  font-size: 0.9rem;
  color: rgba(0, 6, 13, 0.65);
  margin-top: 3.5rem;
}

.poll-card-title {
  text-align: center;
}